.tl__start {
    padding:0 12px;
    width: 100%;
}
.tl__tally {
    padding-top: 7px;
}
.tl__summary-label {
    font-weight: bold;
    font-size: 1.5rem;
}
.tl__summary-report {
    font-family: monospace;
}